@charset "UTF-8";

h1 {
    position: absolute;
    top: 0;
   	left: 0;
  	margin: 10px;
}
        
.qreDetail {
   	display: block;
    text-align: left;
    width: 80%;
    height: 20vh;
 	padding: 10vh;
}

.tarea {
	resize: none;
  	text-align: left;
  	width: 100vh;
 	height: 20vh;
 	font-size: 18px;
}

label {
  	display: block;
 	text-align: left;
}

.bottombt {
	display: inline-block;
    margin-right: 5px;
}

.bottombtpo {
  	text-align: center;
 	margin-top: 20px;
}
.option{
	resize: none;
	text-align: left;
	display: inline-block;
	width: 60vh;
 	height: 10vh;
 	font-size: 18px;
}
.options {
	display: flex;
    justify-content:space-around;
    align-items: center;
}

input[type="submit"] {
	width: 200px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(255, 128, 192);
	margin-top: 10px;
}